@model Student

@{
    List<Student> students = ViewData["Students"] as List<Student>;
    ViewData["Title"] = "Students";
}

<!DOCTYPE html>
<head>
    <title>@ViewData["Title"] - App</title>
</head>
<body>
    <div>
        <p>@Html.ActionLink("Add", "AddStudent", "Home")</p>
    </div>
    <div><b>Students table</b><br /></div>
    <table class="table table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicPerfomance.AcademicRecord)
            </th>
        </tr>
        @foreach (var item in students)
        {
            <tr>
                <td>
                    @item.FullName
                </td>
                <td>
                    @item.Birthdate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @item.AcademicPerfomance.AcademicRecord
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditStudent", "Home", new { id = item.StudentId }) | @Html.ActionLink("Delete", "Delete", "Home", new { id = item.StudentId })
                </td>
            </tr>
        }
    </table>
</body>
