@model Student

@{
    List<Student> students = ViewData["Students"] as List<Student>;
    ViewData["Title"] = "Students";
}

<!DOCTYPE html>
<head>
    <title>@ViewData["Title"] - App</title>
</head>
<body>
    <div>
        <p>@Html.ActionLink("Add", "AddStudent", "Home")</p>
    </div>
<table class="table-condensed">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.FullName)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Birthdate)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.AcademicPerfomance.AcademicRecord)
        </td>
    </tr>
    @foreach (var item in students)
    {
        <tr>
            <td>
                @item.FullName
            </td>
            <td>
                @item.Birthdate.Date
            </td>
            <td>
                @item.AcademicPerfomance.AcademicRecord
            </td>
            <td>
                @Html.ActionLink("Edit", "EditStudent", "Home", new { id = item.StudentId }) | @Html.ActionLink("Delete", "DeleteStudent", "Home", new { id = item.StudentId })
            </td>
        </tr>
    }
</table>
    </body>
